<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Short Url</title>
  </head>
  <body>
    <header>
      {% include 'include/header.html'%}
    </header>
    <main>
      <div class="container py-5">
        {% block content %}
          Для использования сервиса необходимо пройти регистрацию регистрацию!
        {% endblock %}
      </div>
    </main>

  </body>
</html>